@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap';
* {
    margin: 0;
    padding: 0;
    cursor: none
}
body {
    background-color: #232C33;
    height: 100%;
    }
    
.bodytext {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.bodytext.head {
    padding: .5em .3em 0;
    letter-spacing: 0.1em;
    margin: .5em 0;
    font-size: 800%;
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 2px 5px #913636
}

.bodytext.subhead {
    padding: .5em;
    margin: .5em 0;
    font-size: 600%;
    color: #fff;
    text-shadow: 2px 2px 5px #913636
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    font-family: 'Montserrat', sans-serif;
    font-size: 400%;
    text-align: center;
    color: initial;
}
